:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    main {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 1rem;
    }
}
